# This is a basic workflow to help you get started with Actions

name: use echo action

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

jobs:
  echo:
    runs-on: ubuntu-latest
    
    steps:
      - uses: n-y-kim/echo-action-server@main
        with:
          say: Hi Nayeon!
